*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    font-size: 15pt;
    /**background: #124a88;**/
    /**background: linear-gradient(to top, #777, #999, #aaa);**/
    width: 100vw; height: 100vh;
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
    

}
i{
    color: #333;
}
#content{
    width: 100%; height: 100%;
    overflow: Hidden;
}
.top{
    padding: 20px 16px;
    max-width: 400px;
    margin: 0 auto;
}
.top h1{
    font-size: 1.5em;
    color: #e0e0e0;
}
#main {
    width: 100%;
    
    
}
.info {
    margin: 80px auto;
    width: 300px; 
    background: rgba(255, 255, 255, .2);
    border-radius: 8px;
    padding: 30px 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .2);
    position: relative;
}
.info label {
    color: #111;
    font-size: .7em;
}
.list{
    list-style: none;
    padding: 5px 10px;
}
.list li{
    padding: 14px !important;
    display: flex;
    align-items: center;
   /** border-bottom: 1px solid #ccc;**/
    background: rgba(230, 230, 230, .4);
    border-radius: 8px;
    margin-top: 5px;
}
.list li a{
    text-decoration: none;
    font-size: .8em;
    margin-left: 10px;
    cursor: pointer;
    color:#e0e0e0;
}
.list li a:hover{
    color: #000;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btns a{
    text-decoration: none;
    padding: 14px 1.3rem;
    background: rgba(255, 255, 255, .7);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .2);
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    font-size: .9em;
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 20px 0;
}
.descripcion p{
    font-size: .7em;
    color: #e0e0e0;
    padding: 0 10px;
}
.pic{
    width: 150px; height: 150px;
    border-radius: 20px;
    border: 5px solid rgba(230, 230, 230, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:-110px; right: 0;
}
.pic .brd{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    border: 5px solid rgba(230, 230, 230, .2);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .2);
}
.pic .brd img{
    width: inherit; height: inherit;
    border-radius: 8px;
    object-fit: cover;
    
}

.pie{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie strong {
    color: #ddd;
    text-align: center;
    font-size: .7em;
}